html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url('pictures/cardsBackground.jpg');
  background-size: cover;
  position: relative;
}
.opac {
  height: 80%;
  width: 75%;
  position: absolute;
  margin-top: 5%;
  margin-left: 13%;
  background: black;
  opacity: .5;
  z-index: 0;
}

.ui {
  height: 80%;
  width: 75%;
  position: absolute;;
  margin-top: 5%;
  margin-left: 13%;
  z-index: 1;
}

#add-new-better {
  text-align: center;
  font-size: 50px;
  color: white;
}

#new-better-input {
  text-align: center;
  color: white;
  font-size: 20px;
}

#list-head {
  font-size: 40px;
  color: white;
  padding-left: 2%;
}
#betters {
  font-size: 20px;
  color: white;
}
#links {
  color: white;
}
.betPageLinks {
  color: white;
}
.addNewBetHeader {
  color: white;
  font-size: 33px;
  text-align: center;
}
 .newBetForm {
   color: white;
   text-align: center;
 }
 .currentBetsWith {
   color: white;
   font-size: 33px;
   margin-top: 2%;
 }

 .currentBets {
   color: white;
 }

.satisfiedLinks{
  color: white;
}
.satisfiedBetsHead {
  color: white;
  font-size: 33px;
}
.satisfiedBets {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
.satisfyForm {
  margin-top: 6%;
  margin-left: 25%;
  height: 38%;
  width: 50%;
  background: white;
  z-index: 3;
  position: absolute;
  color: white;
  text-align: center;
  background-color: #005635;
  border-radius: 25px;

}
#description {
  width: 300px;
}

.key-box {
  height: 100px;
  width: 200px;
  background-color: rgba(0,0,0, .7);
  position: absolute;
  right: 0;
  margin-right: 150px;
  margin-top: 25px;
  color: white;
}

.wins {
  position: absolute;
  margin-top: 12%;
  margin-left: 15%;
  font-size: 20px;
}
.losses {
  position: absolute;
  margin-top: 27%;
  margin-left: 15%;
  font-size: 20px;
}
#lossBox {
  height: 20px;
  width: 20px;
  background: red;
  position: absolute;
  margin-left: 60%;
  margin-top: 28%;
}

#winBox {
  height: 20px;
  width: 20px;
  background: green;
  position: absolute;
  margin-left: 60%;
  margin-top: 12%;
}
