html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url('pictures/moneybackground.jpg');
  background-size: cover;
}

.header {
  width: 100vw;
  height: 10%;
  background: black;
  color: green;
  text-align: center;
  font-family: monospace;
  font-size: 60px;
}

.ui {
  height: 80%;
  width: 75%;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}

/*.add-new-better{
  position: relative;
  height: 100%;
  width: 100%;
}

#add-new-better {
  position: absolute;

}

#new-better-input {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}*/
