<body>
  <p><a class ='betPageLinks' ui-sref="betters">Back to list of Betters</a></p>
  <p><a class ='betPageLinks' ui-sref="satisfied">Click here to see satisfied bets with {{userobj.firstName}}</a></p>
  <div class='add-new-better'>
    <div class="addNewBetHeader">Add New Bet with {{userobj.firstName}}</div>
    <form class="newBetForm">
      <p>Date Bet Placed: <input ng-model="betDate" placeholder="MM/DD/YY"/>
      Bet Ammount: <input ng-model="betAmount" placeholder="How Much?"/></p>
      Bet Description <input ng-model="betDescription" placeholder="What's the bet?"/>
      <button ng-click='newBet(betDate, betAmount, betDescription)'>Submit New Bet</button>
    </form>
  </div>
  <div>
    <div class='currentBetsWith'>Current Bets with {{userobj.firstName}}</div>
    <ul class='currentBets' ng-repeat='bet in bets'>
      <li>{{bet.betAmount}} bet on {{bet.betDate}} <strong>Bet Details:</strong> {{bet.betDescription}} <button ng-click='satisfy()'>Click to Satisfy Bet</button></li>
    </ul>
  </div>
</body>
