<body>
  <form ng-if='showBox' class='satisfyForm'>
    <p>Who won!?  <input ng-model='betWinner' placeholder="Winner's First Name"></input></p>
    <p>How Much!?  <input ng-model='betAmount' placeholder="How much won/lost?"></input></p>
    <p>Date Paid  <input ng-model='datePaid' placeholder="MM/DD/YY"></input></p>
    <p>Bet Description  <input id='description' ng-model='satisfiedDescription' placeholder="keep it short!"></input></p>
    <button ng-click='satisfyBet(betWinner, betAmount, datePaid, satisfiedDescription)'>PAID!</button>
  </form>
  <header-dir></header-dir>
  <p><a class='betPageLinks' ui-sref="satisfied({betterId: thisBetter.betterId, betterFirstName: thisBetter.betterFirstName})">Click here to see satisfied bets with {{thisBetter.betterFirstName}}</a></p>
  <div class='add-new-better'>
    <div class="addNewBetHeader">Add New Bet with {{thisBetter.betterFirstName}}</div>
    <form class="newBetForm">
      <p>Date Bet Placed: <input ng-model="betDate" placeholder="MM/DD/YY"/>
      Bet Ammount: <input ng-model="betAmount" placeholder="How Much?"/></p>
      Bet Description <input ng-model="betDescription" placeholder="What's the bet?"/>
      <button ng-click='newBet(betDate, betAmount, betDescription)'>Submit New Bet</button>
    </form>
  </div>
  <div>
    <div class='currentBetsWith'>Current Bets with {{thisBetter.betterFirstName}}</div>
    <ul class='currentBets' ng-repeat='bet in bets'>
      <li>{{bet.betAmount}} bet on {{bet.betDate}} <strong>Bet Details:</strong> {{bet.betDescription}} <button ng-click='deleteBet(bet)'>Click to Delete Bet</button>
      <button ng-click="satisfy(bet)">Click to Satisfy Bet</button></li>
    </ul>
  </div>
</body>
