<body ng-controller="bettersCtrl">
  <p><a ui-sref="betters">Back to list of Betters</a></p>
  <p><a ui-sref="satisfied">See bets satisfied with "better"</a></p>
  <div class='add-new-better'>
    <h1>Add New Bet</h1>
    Date Bet Placed: <input placeholder="MM/DD/YY"/>
    Bet Ammount: <input placeholder="How Much?"/>
    Bet Description <input placeholder="What's the bet?"/>
    <button>Submit New Better</button>
  </div>
  <div class=better-list>
    <h1>Current Bets</h1>
    <ul>
      <li>Bet</li>
      <li>Bet</li>
      <li>Bet</li>
      <li>Bet</li>
      <li>Bet</li>
    </ul>
  </div>
</body>
