<body>
  <div>
    <div id='add-new-better'>Add New Better</div>
    <form id='new-better-input'>
      <p>First Name: <input ng-model='firstName' type='text' placeholder="Enter First Name"></input>
      Last Name: <input ng-model='lastName' type='text' placeholder="Enter Last Name"></input></p>
      <p>Phone Number: <input ng-model='phone' type='text' placeholder="(xxx)xxx-xxxx"></input>
      Payment: <input ng-model='payId' type='text' placeholder="Venmo Username"></input></p>
      <p><button ng-click='newBetter(firstName, lastName, phone, payId)'>Submit New Better</button><p>
    </form>
  </div>
  <div class='better-list'>
    <div id='list-head'>Betters</div>
    <ul ng-repeat='better in betters' id='betters'>
      <li><a id='links' ui-sref="bets({betterId: better.$id, betterFirstName: better.firstName})">{{better.firstName}} {{better.lastName}}</a>
        <span><strong>Venmo Username:</strong> {{better.payId}} <strong>Phone:</strong> {{better.phone}}</span> <button ng-click="deleteBetter(better)">Remove Better</button></li>
    </ul>
  </div>
</body>
