<head>
  <title>Betters</title>
</head>
<body ng-controller="bettersCtrl">
  <div class='add-new-better'>
    <h1>Add New Better</h1>
    First Name: <input placeholder="Enter First Name"></input>
    Last Name: <input placeholder="Enter Last Name"></input>
    Phone Number: <input placeholder="(xxx)xxx-xxxx"></input>
    Payment: <input placeholder="Venmo Username"></input>
    <button>Submit New Better</button>
  </div>
  <div class=better-list>
    <h1>Betters List</h1>
    <ul>
      <li><a ui-sref="bets">Better1</a></li>
      <li>Better2</li>
      <li>Better3</li>
      <li>Better4</li>
      <li>Better5</li>
    </ul>
  </div>
</body>
