<p><a ui-sref="betters" class='satisfiedLinks'>Back to List of Betters</a></p>
<p><a ui-sref="bets" class='satisfiedLinks'>Back to List of Bets</a></p>
<div class='satisfiedBetsHead'>Satisfied Bets with "Better"</div>
<ul class='satisfiedBets'>
  <li>Bet, Winner, Date Paid, Paid with</li>
  <li>Bet, Winner, Date Paid, Paid with</li>
  <li>Bet, Winner, Date Paid, Paid with</li>
  <li>Bet, Winner, Date Paid, Paid with</li>
  <li>Bet, Winner, Date Paid, Paid with</li>
  <li>Bet, Winner, Date Paid, Paid with</li>
</ul>
